.App {
  text-align: center;
  background: linear-gradient(
    106.37deg,
    #ffafbd 29.63%,
    #ffc3a0 51.55%
  ) ;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;

}

.AppGlass{
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2em;
  background-color: rgba(255, 255,255, 0.54) ;
  overflow: hidden;
  grid-template-columns: 11rem auto 20rem;
}




